body {}

h1 {
    text-align: center;
    color: black;
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
}

p {
    font-weight: bold;
    font-size: larger;

}