body {
    background-color: olive;
}

h1 {
    color: darkred;
    background-color: deepskyblue;
    text-align: center;
    font-family: "Orbitron",sans-serif;
}

p {
    font-weight: bold;
    font-size: larger;
}

footer {
    background-color: rgb(2, 254, 2);
}