body {
    background-color: olive;
}

h1 {
    text-align: center;
    font-family: "Nosifer", sans-serif;
    font-style: normal;
    color: rgb(2, 254, 2);
}

p {
    font-weight: bold;
    font-size: larger;
}

footer {
    background-color: rgb(2, 254, 2);
}